/*FONTS*/
@font-face {
  font-family: "Bringin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/bringin.ttf")  format("truetype"),
    url("../fonts/bringin.otf") format("opentype");
}

/*COMMON*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Verdana", sans-serif;

  background-color: #ffffff;
}

.overflow-wrapper {
  min-width: 1170px;
  height: auto;

  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.logo-style {
  width: 117px;
  height: 27px;
  font-family: "Bringin", "Verdana", sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 44px;
}

.btn {
  display: inline-block;
  width: 253px;
  min-height: 60px;
  box-shadow: 0 0 35px rgba(3, 3, 3, 0.06);
  border-radius: 4px;
  background-color: #36aeea;
  outline: none;

  color: #ffffff;
  font-family: "Raleway", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 4;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.15em;

  transition: background 0.4s;
}

.btn:hover {
  background-color: #3181b5;
}

.btn:active {
  background-color: #296490;

  transition: background 0.1s ease-out;
}

.btn:focus {
  background-color: #368fc9;

  transition: background 0.1s ease-out;
}

/*SPECIFIC PAGE COMMON*/

.h2-home-title {
  color: #2c2e37;
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.h3-home-title {
  margin: 0;
  margin-bottom: 7px;

  color: #2c2e37;
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/*HEADER*/

.header-bg-wrapper {
  min-height: 700px;

  background: #8caec2 url("../img/header-bg.jpg") top center no-repeat;
}

.header-top {
  padding-right: 20px;
}

.header-top-wrapper {
  margin-bottom: 135px;
  padding: 23px 0 20px;
  background-color: rgba(255, 255, 255, 0.23)
}

.header-logo {
  float: left;

  width: 240px;
  margin-right: 27px;
  padding-left: 15px;

  font-size: 0;

  cursor: pointer;
}

.logo-half-1 {
  color: #36aeea;
}

.logo-half-2 {
  color: #95a5ad;
}

.nav-main {
  float: left;

  width: 700px;
}

.nav-main-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;

  list-style: none;
}

.nav-main-list li {
  float: left;

  margin-right: 25px;
}

.nav-main-list a {
  padding-bottom: 10px;

  color: #83949c;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 2px solid rgba(54, 174, 234, 0);

  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.nav-main-list a:hover {
  border-color: rgba(54, 174, 234, 1);

  transition: border 0.5s;
}

.nav-main-list a:active {
  color: #4f5961;

  transition: color 0.1s;
}

.btn-call-header {
  float: right;

  width: 153px;
  min-height: 46px;
  padding: 0 5px;
  border-radius: 4px;
  border: 3px solid #36aeea;

  color: #36aeea;
  font-family: "Raleway", "Verdana", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
}

.btn-call-header:hover {
  color: #ffffff;

  background-color: #36aeea;
}

.btn-call-header:active {
  border-color: #3181b5;

  background-color: #3181b5;

  transition: 0.1s;
}

.header-content {
  position: relative;

  width: 1136px;
  min-height: 321px;

  padding: 41px 35px;
  border: 3px solid #ffffff;
  border-top: none;

  line-height: 31px;
}

.header-content::before {
  position: absolute;
  top: -3px;
  left: -3px;

  display: block;
  width: 1140px;
  height: 3px;

  background: linear-gradient(to right, #ffffff 0%,#ffffff 65%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 82.3%, #ffffff 82.3%);

  content: "";
}

.header-title  {
  margin: 0;

  color: #ffffff;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.header-title-logo {
  color: #56c7ff;
  font-family: "Bringin", "Verdana", sans-serif;
  font-size: 66px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.header-content h1 {
  margin: 0;
  margin-bottom: 18px;
}

.header-content p {
  width: 450px;
  margin: 0 0 23px;
  padding-left: 3px;

  color: rgba(255, 255, 255, 0.75);
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.header-content .btn {
  position: relative;
  left: 4px;
}

/*ABOUT*/

.about-wrapper {
  background-color: #f6f4f4;
}

.about::before {
  position: absolute;
  top: -38px;
  right: -194px;

  display: block;
  width: 806px;
  height: 570px;

  content: url("../img/about-big.jpg");
}

.about::after {
  position: absolute;
  top: 275px;
  right: 351px;

  display: block;
  width: 350px;
  height: 350px;

  content: url("../img/about-small.jpg");
}

.about {
  position: relative;

  min-height: 665px;
  padding-top: 238px;

  background: #f6f4f4 url("../img/about-bg.png") 92px 22px no-repeat;
}

.about-title {
  width: 352px;

  margin: 0px 0px 9px 2px
}

.about-text {
  width: 360px;

  margin: 0;
  margin-bottom: 25px;

  color: #949494;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.about .btn {
  width: 130px;
  min-height: 35px;

  font-size: 11px;
  letter-spacing: 0.17em;
  line-height: 4;
}

/*JOURNAL*/

.journal {
  padding-top: 79px;
  padding-bottom: 90px;

  text-align: center;
}

.journal-title {
  margin-bottom: 69px;
}

.journal-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.journal-item {
  position: relative;

  width: 380px;
  height: 380px;
}

.journal-text-box {
  padding: 44px 55px 0 47px;
}

.journal-text-box .term {
  display: block;
  margin-bottom: 48px;

  color: #0083b3;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
}

.journal-text-box .term.term-love {
  color: #16b5ef;
}

.journal-text-box h4 {
  margin: 0;
  margin-bottom: 16px;

  color: #212121;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.43em;
  text-transform: uppercase;
}

.journal-text-box p {
  margin: 0;

  color: #777777;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.journal-text-box .number {
  position: absolute;
  bottom: 44px;

  color: #212121;
  font-family: "Times New Roman", serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
}

.img-love::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: url("../img/love.png");
}

.img-love::after {
  position: absolute;
  top: 50px;
  right: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;

  content: "";
}

.img-water::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: url("../img/water.png");
}

.img-water::after {
  position: absolute;
  left: 50px;
  bottom: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;

  content: "";
}

.img-tree::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: url("../img/tree.png");
}

.img-tree::after {
  position: absolute;
  top: 50px;
  left: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;

  content: "";
}

/*ORDER*/

.order-wrapper {
  background: #f6f4f4 url("../img/order-bg.jpg") bottom center no-repeat;
}

.order {
  padding-top: 179px;
  padding-bottom: 239px;
}

.order-text {
  width: 702px;
  margin: 0;
  margin-bottom: 25px;

  color: #949494;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.order-form {
  position: relative;

  width: 843px;
  min-height: 65px;
  margin-bottom: 7px;
  padding: 3px;
  padding-left: 9px;
  border-radius: 4px;
  background-color: #ffffff;
}

.order-form::before {
  position: absolute;
  top: 15px;
  left: 308px;

  width: 1px;
  height: 35px;

  background-color: #bcbcbc;

  content: "";
}

.order-form input:not(.btn) {
  width: 298px;
  min-height: 55px;
  padding-left: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.order-form input:not(.btn):hover {
  background-color: #ebeced;
}

.order-form input:not(.btn):focus {
  background-color: #dadbdc;
}

.order-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.btn-submit {
  width: 225px;
  min-height: 56px;
  border: none;
  outline: none;
}

.order-note {
  position: relative;
  padding-left: 25px;

  color: #36aeea;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.order-note::before {
  position: absolute;
  left: -3px;
  top: 2px;

  display: inline-block;

  width: 14px;
  height: 16px;

  background-image: url("../img/lock.png");
  content: "";
}

/*WORK*/

.work {
  padding-top: 75px;
  margin-bottom: 100px;

  text-align: center;
}

.work-title {
  margin-bottom: 67px;
}

.work-list {
  display: flex;
  justify-content: space-around;
  padding: 0;

  list-style: none;
}

.work-list li {
  position: relative;

  width: 205px;
}

.work-list li::before {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 40px;
  border: 3px solid #36aeea;
  border-radius: 50%;

  color: #3bb0eb;
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 44px;
}

.work-1::before {
  content: "1";
}

.work-2::before {
  content: "2";
}

.work-3::before {
  content: "3";
}

.work-4::before {
  content: "4";
}

.work-list li h5::before {
  display: inline-block;
  width: 179px;
  height: 179px;
  margin: 18px 0;
  border-radius: 50%;

  content: "";
  background-color: #f0f3f6;
}

.work-1-title::before {
  background: url("../img/work-1.png") no-repeat center center;
}

.work-2-title::before {
  background: url("../img/work-2.png") no-repeat center center;
}

.work-3-title::before {
  background: url("../img/work-3.png") no-repeat center center;
}

.work-4-title::before {
  background: url("../img/work-4.png") no-repeat center center;
}

.work-list li h5 {
  margin: 0;

  font-family: "Roboto", "Verdana", sans-serif;
  line-height: 24px;
  color: #2c2e37;
  font-size: 18px;
  font-weight: 900;
}

.work-list li p {
  margin: 0;

  font-family: "Roboto", "Verdana", sans-serif;
  line-height: 24px;
  color: #949494;
  font-size: 16px;
  font-weight: 300;
}

/*OFFERS*/

.offers-wrapper {
  margin-bottom: 103px;

  background: url("../img/offers-bg-2.jpg") bottom center no-repeat;
}

.offers {
  padding-top: 30px;
  padding-bottom: 484px;

  background: url("../img/offers-bg-1.png") center 40px no-repeat;
}

.offers-title {
  margin: 0;
  margin-bottom: 65px;
}

.offers-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.offers-list a {
  text-decoration: none;
}

.offers-item {
  position: relative;

  width: 200px;
  height: 382px;
  padding: 136px 0 0 20px;

  color: #ffffff;
  text-decoration: none;
}

.offers-item-title {
  margin: 0;

  font-size: 28px;
  font-weight: 400;
  line-height: 63px;
}

.offers-item-text {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.offers-item-price {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 62px;
  margin-left: -20px;

  font-family: "Open Sans", "Verdana", sans-serif;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.price-before {
  position: absolute;
  top: 30%;
  left: 19px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: line-through;
}

.price-now {
  position: absolute;
  top: 30%;
  right: 12px;

  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
}

.offers-item::before {
  position: absolute;
  top: 19px;
  left: 12px;

  display: block;
  height: 16px;

  background-image: url("../img/star.png");
  content: "";
}

.offer-1 {
  background: url("../img/offer-1.jpg");
}

.offer-1::before {
  width: 72px;
}

.offer-2 {
  background: url("../img/offer-2.jpg");
}

.offer-2::before {
  width: 90px;
}

.offer-3 {
  background: url("../img/offer-3.jpg");
}

.offer-3::before {
  width: 90px;
}

.offer-4 {
  background: url("../img/offer-4.jpg");
}

.offer-4::before {
  width: 90px;
}

.offer-5 {
  background: url("../img/offer-5.jpg");
}

.offer-5::before {
  width: 54px;
}

/*GALLERY*/

.gallery {
  margin-bottom: 49px;

  font-size: 0;
}

.gallery-title {
  margin: 0;
  margin-bottom: 65px;
}

.gallery-content .col {
  display: inline-block;
}

.gallery-content .col:not(:last-child) {
  margin-right: 29px;
}

.gallery-content img {
  margin-bottom: 30px;
}

.gallery-col-1 {
  width: 263px;
}

.gallery-col-2 {
  width: 361px;
}

.gallery-col-3 {
  width: 457px;
}

/*PARTNERS*/

.partners-wrapper {
  margin-bottom: 35px;

  background-color: #f8f9fa;
}

.partners {
  padding-top: 74px;
  padding-bottom: 67px;
}

.partners-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*CLIENTS*/

.clients {
  margin-bottom: 134px;
  padding-top: 40px;
}

.clients-title {
  margin-bottom: 82px;

  text-align: center;
}

.clients-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 14px;
}

.client-feedback p::before {
  display: block;
  width: 24px;
  height: 22px;
  margin-bottom: 10px;

  content: "";
  background: url("../img/quotes.png");
}

.client-feedback {
  width: 529px;
  margin: 0;

  font-family: "Open Sans", "Verdana", sans-serif;
}

.client-feedback p {
  margin: 0;
  margin-bottom: 23px;

  color: #bcbcbc;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

.client-feedback cite {
  padding-left: 15px;

  color: #36aeea;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  font-style: normal;
}

.client-feedback cite::before {
  vertical-align: middle;
  position: relative;
  left: -16px;

  display: inline-block;
  width: 65px;
  height: 65px;

  content: "";
}

.cite-1::before {
  background: url("../img/client-1.png");
}

.cite-2::before {
  background: url("../img/client-2.png");
}

/*NEWSLETTER*/

.newsletter::after {
  position: absolute;
  top: -380px;
  left: -379px;

  display: block;
  min-height: 1045px;

  content: url("../img/clients-bg.png");
  z-index: -1;
}

.newsletter {
  position: relative;

  margin-bottom: 149px;
}

.newsletter-form {
  width: 514px;

  margin: 0 auto;
  border-radius: 8px;

  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;

  background: #5c97a5 url("../img/newsletter-form-bg.jpg") center center no-repeat;
  background-size: cover;
}

.newsletter-form fieldset {
  padding-top: 36px;
  padding-bottom: 30px;
  outline: none;
  border: none;
}

.newsletter-form h3 {
  margin: 0;

  color: #36aeea;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.newsletter-form p {
  margin: 0;
  margin-bottom: 32px;

  color: #383e4a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-form input[type="text"] {
  width: 454px;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 3px solid #ffffff;
  border-radius: 4px;

  transition: 0.3s;
}

.newsletter-form input[type="text"]:hover {
  background-color: #b5d3d9;
  border-color: #b5d3d9;
}

.newsletter-form input[type="text"]:focus {
  background-color: #b5d3d9;
  border-color: #b5d3d9;
}

.newsletter-form input[type="text"]:focus {
  outline: none;
}

.btn-newsletter {
  width: 454px;
  min-height: 72px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
}

/*FOOTER*/

.footer-wrapper {
  background-color: #3c4850;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  min-height: 80px;

}

.footer-rights {
  color: #81BCCB;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.social {
  margin-top: -15px;
}

.social a {
  display: inline-block;
  width: 39px;
  height: 39px;

  font-size: 0;
}

.twitter {
  background: #29c5f6 url("../img/twitter.png") 65% 65% no-repeat;
}

.facebook {
  background: #6788ce url("../img/facebook.png")  65% 65% no-repeat;
}

.vk {
  background: #54769a url("../img/vk.png") 10px 15px no-repeat;
}

.footer-phone {
  color: #81bccb;
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 27px;
  font-weight: 900;
}